---
name: tag release

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - 'release'

jobs:
  build:
    name: build.${{ matrix.heroku }}-${{ matrix.buildx }}
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: true
      matrix:
        buildx:
          - "false"
        heroku:
          - 22

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v4
        with:
          go-version: 1.17.8

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6

      - name: set up qemu
        uses: docker/setup-qemu-action@v2

      - name: set up docker buildx
        uses: docker/setup-buildx-action@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.7.x'

      - name: install requirements
        run: make deps fpm package_cloud

      - name: build
        run: |
          make build build/docker/${{ matrix.heroku }} BUILDX=false STACK_VERSION=${{ matrix.heroku }}

      - name: upload packages
        uses: actions/upload-artifact@v3
        with:
          name: build-${{ matrix.heroku }}-${{ matrix.buildx }}
          path: build

  tag-release:
    name: tag-release
    needs: build
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v4

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6

      - name: download packages
        uses: actions/download-artifact@v3
        with:
          name: build-22-false
          path: build

      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: release
        run: |
          export CI_BRANCH=${GITHUB_REF#refs/heads/}
          export PACKAGECLOUD_REPOSITORY=dokku/dokku
          make release release-packagecloud
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
          PACKAGECLOUD_TOKEN: ${{ secrets.PACKAGECLOUD_TOKEN }}
